In [2]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
sns.__version__

In [3]:
pip --version

In [4]:
pip install --upgrade pip

In [4]:
df = pd.read_csv('_29cm.csv' )

In [5]:
df

,Unnamed: 0,event_datatime,event_name,device_type,mobile_brand_name,mobile_model_name,mobile_marketing_name,operating_system_version,country,region,platform,item_name,price,category1_name,category2_name,category3_name,brand_name,age,gender,birth_date
0,0,2021-06-03,click_item,mobile,Samsung,SM-N960N,Galaxy Note9,Android 10,South Korea,Gyeonggi-do,ANDROID,남성) 코튼 리넨 이지 쇼츠,29900.0,의류,하의,바지,TOPTEN,54,F,1969-04-05
1,1,2021-06-03,add_to_cart,mobile,Samsung,SM-G977N,Galaxy S10 5G,Android 11,South Korea,Seoul,ANDROID,Puppy's delight short sleeve T-shirts white,38000.0,의류,상의,티셔츠,Wave union,34,F,1989-02-22
2,2,2021-06-03,click_item,mobile,Apple,iPhone,NaN,iOS 14.4.2,South Korea,Seoul,IOS,몽돌 니트 MD 소프트 숏 슬리브 크루 넥 반팔 니트 화이트 MDTS002WHITE,42000.0,의류,상의,니트/스웨터,MONGDOL,39,F,1984-08-22
3,3,2021-06-03,click_item,mobile,Apple,iPhone,NaN,iOS 14.4.2,South Korea,Gyeongsangbuk-do,IOS,dapper bag (choco brown),169000.0,잡화,가방,숄더백,yeomim,51,F,1972-09-07
4,4,2021-06-03,add_to_cart,mobile,Samsung,SM-G970N,Galaxy S10e,Android 11,South Korea,Seoul,ANDROID,[예약판매][락피쉬웨더웨어] 파스텔 첼시 레인부츠 - 3color,59000.0,잡화,신발,레인부츠/스노우부츠,Rockfish Weatherwear,38,NaN,1985-04-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5880402,5880402,2021-08-04,click_item,mobile,Apple,iPhone,NaN,iOS 14.6,South Korea,Gyeongsangnam-do,IOS,Moody Dusk PJ Pants,63000.0,의류,라운지웨어,파자마,Foli,24,F,1999-07-12
5880403,5880403,2021-08-04,click_item,mobile,Apple,iPhone,NaN,iOS 14.6,South Korea,Gyeongsangnam-do,IOS,[GUAV] Marine Long Sleeve T-shirts,79000.0,의류,상의,티셔츠,GUAV,25,F,1998-04-04
5880404,5880404,2021-08-04,click_item,mobile,Apple,iPhone,NaN,iOS 14.6,South Korea,Gyeonggi-do,IOS,BALANSA LOGO CAP (AQUA),59000.0,잡화,모자,볼캡,BALANSA (매입),32,F,1991-12-03
5880405,5880405,2021-08-04,click_item,mobile,Samsung,SM-G977N,Galaxy S10 5G,Android 11,South Korea,Busan,ANDROID,Fleece jacket (brown),279000.0,의류,아우터,재킷,ANDNEEDS,45,F,1978-12-21
5880406,5880406,2021-08-04,click_item,mobile,Apple,iPhone,NaN,iOS 14.6,South Korea,Gyeonggi-do,IOS,스트레이트 블랙 스판진 [BLACK],72000.0,의류,하의,바지,STEP AROUND,43,F,1980-02-03

In [9]:
df[['event_name']].isnull().sum()

In [9]:
df.info()

In [10]:
df['brand_name'].value_counts()

In [11]:
df['brand_name'].value_counts()[:10]

In [5]:
df['age'].value_counts()

In [ ]:
df['brand_name'].value_counts().plot(kind='barh', figsize=(12,6))

In [13]:
df['brand_name'].value_counts()[:10].plot(kind='barh', figsize=(12,6))

In [14]:
plt.figure(figsize = (12, 6))
sns.histplot(data = df.loc[df['brand_name'].isin(df['brand_name'].value_counts()[:3].index)], x = 'age', bins = 30,
                        hue = 'brand_name', multiple = 'stack', palette = 'Set2')
plt.show()

In [8]:
df['age_dist'] = 0
def func(x):
    if x >= 20 and x < 30:
        return 2
    elif x >= 30 and x < 40:
        return 3
    elif x >= 40 and x < 50:
        return 4
    elif x >= 50 and x < 60:
        return 5
    else: # 20세 미만, 60세 초과
        return 1
df.age_dist = df.age.apply(func)

In [3]:
# 20대는M Mardi Mercedi인 저가를 선호하고, 3040은 고가 브랜드인 LENNIA를 가장 선호했다.
plt.figure(figsize = (12, 6))
sns.countplot(data = df.loc[df['brand_name'].isin(df['brand_name'].value_counts()[:10].index)], x = 'age_dist',
                        hue = 'brand_name', palette = 'Set2')
plt.show()

NameError: name 'df' is not defined

In [ ]:
# 핸드폰 기종에 따른 이벤트 반응들.

In [11]:
df[['mobile_brand_name']].isnull().sum()

In [12]:
df[['mobile_brand_name']].value_counts()

In [13]:
df[['mobile_brand_name']].isnull()

In [20]:
mobile = df[['mobile_brand_name']].dropna(axis=0)

In [21]:
mobile.isnull().sum()

In [10]:
def func(x):
    if x=='click_item':
        return 0
    elif x in ['add_to_cart', 'like_item']:
        return 0
    elif x=='purchase_success':
        return 10
df.loc[df['country']=='South Korea', 'response_rating'] = df.loc[df['country']=='South Korea', 'event_name'].apply(func)

In [27]:
mean_df2 = df.loc[((df['country']=='South Korea')&(df['event_name']=='purchase_success'))].groupby(['region']).mean().reset_index()
mean_df2

In [11]:
# 평일 & 주말 구매율 확인
df['event_datatime']

In [15]:
df.info()

In [13]:
from datetime import datetime, date
def check_weekend(date):
    weekday = date.weekday()
    if weekday <= 4:
        print(f"{date} is weekday") 
    if weekday > 4:
        print(f"{date} is weekend")

In [14]:
df['event_datatime'] = pd.to_datetime(df['event_datatime'], format='%Y-%m-%d')

In [1]:
df.info()

NameError: name 'df' is not defined

In [16]:
df.event_datatime = df.event_datatime.apply(check_weekend)